<div class="m-5" id="main">
  <h1 class="display-6 mb-5 text-center">
    Pesquise as receitas por nome, ingrediente ou país
  </h1>
  <div class="btn-toolbar justify-content-center">
    <div
      class="btn-group btn-group-sm"
      role="group"
      aria-label="Pesquisa de receitas por nome"
    >
      <button class="btn btn-light">A</button>
      <button class="btn btn-light">B</button>
      <button class="btn btn-light">C</button>
      <button class="btn btn-light">D</button>
      <button class="btn btn-light">E</button>
      <button class="btn btn-light">F</button>
      <button class="btn btn-light">G</button>
      <button class="btn btn-light">H</button>
      <button class="btn btn-light">I</button>
      <button class="btn btn-light">J</button>
      <button class="btn btn-light">K</button>
      <button class="btn btn-light">L</button>
      <button class="btn btn-light">M</button>
      <button class="btn btn-light">N</button>
      <button class="btn btn-light">O</button>
      <button class="btn btn-light">P</button>
      <button class="btn btn-light">Q</button>
      <button class="btn btn-light">R</button>
      <button class="btn btn-light">S</button>
      <button class="btn btn-light">T</button>
      <button class="btn btn-light">U</button>
      <button class="btn btn-light">V</button>
      <button class="btn btn-light">W</button>
      <button class="btn btn-light">X</button>
      <button class="btn btn-light">Y</button>
      <button class="btn btn-light">Z</button>
    </div>
  </div>
</div>
