<a [routerLink]="['/receita', meal.idMeal]">
  <img
    src="{{ meal.strMealThumb }}"
    alt="{{ meal.strMeal }} image"
    class="card-img-top"
  />
</a>
<div class="card-body">
  <h5 class="card-title">{{ meal.strMeal }}</h5>
  <p class="card-text">Categoria: {{ meal.strCategory }}</p>
  <p class="cart-text" *ngIf="meal.strTags">
    Tags:
    <span class="badge bg-primary me-1" *ngFor="let tag of tags"
      >{{ tag }}
    </span>
  </p>
  <app-ratting [idMeal]="meal.idMeal"></app-ratting>
</div>
